#chessboard {
	display: grid;
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(8, 80px);
	width: 640px;
	height: 640px;
	background-color: black;
}

.modal {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.modal.hidden {
	display: none;
}

.modal > .modal-body {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(50% - 125px);
	left: calc(50% - 320px);
	height: 250px;
	width: 640px;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal > .modal-body > img {
	height: 80px;
	width: 80px;
	padding: 15px;
	margin: 20px;
	border-radius: 50%;
}

.modal > .modal-body > img:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}

.modal > .modal-body > .checkmate-body {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.modal > .modal-body > .checkmate-body > span {
	font-size: 24px;
	color: white;
}

.modal > .modal-body > .checkmate-body > button {
	background-color: #779556;
	color: white;
	padding: 20px 40px;
	font-size: 28px;
	border: none;
	border-radius: 8px;
}

.modal > .modal-body > .checkmate-body > button:hover {
	cursor: pointer;
}
